/*
 * Stroboscope.js stylesheet
 */

body {
	/*background: #111;*/
	font-family: Arial, Helvetica, sans-serif;
	width: 98%;
	height: 98%;
	background-color: #111;
	margin: 1%;
}

/*
 * Alert if Javascript is disabled
 */
.alert {
	width: 400px;
	margin: 300px auto;
	padding: 40px 50px;
	background: #eee;
	color: red;
	border: 2px solid red;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}

/*
 * Open button
 */
.open {
	opacity: 0.6;
}

/*
 * Config box
 */
#launch {
	margin: 5px auto;
	width: 200px;
}
#sync {
	margin: 5px auto;
	width: 150px;
}
#beat {
    margin: 10px auto 0 auto;
    width: 200px;
}
.pickers {
	margin: 8px 0 !important;
}
.itext {
    font-style: italic;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.stext {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

/*
 * A small hack to jPicker
 */
.Container {
	z-index: 1500 !important;
}
