/*
 * Stroboscope.js stylesheet
 */

body {
	/*background: #111;*/
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background-color: #111;
}

/*
 * Alert if Javascript is disabled
 */
.alert {
	width: 400px;
	margin: 300px auto;
	padding: 40px 50px;
	background: #eee;
	color: red;
	border: 2px solid red;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}

/*
 * Config box
 */
.config {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 300px;
	background: #efefef;
	padding: 15px 20px;
}
.config div {
	margin: 2px;
}
#launch {
	margin: 0 0 10px 0 !important;
}
#slider {
	margin: 5px 0 0 0 !important;
}
#frequency {
	margin: 5px !important;
}
.pickers {
	margin: 8px 0 !important;
}
